PORT=4000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/getup_management?schema=public"
JWT_SECRET="getup_jwt_super_secret_key_change_in_production_2026"
JWT_REFRESH_SECRET="getup_refresh_super_secret_key_change_in_production_2026"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
